.container {
    max-width: 64ch;
    margin: var(--margin-3x) 0;
}

.post, .postTitle {
    line-height: 2.8rem;
}

.readMore {
    text-decoration: underline;
}

.pubDate {
    opacity: 0.75;
}


@media (min-width: 768px) {
    .container {
        max-width: 64ch;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 350px;
    }
    .post-title {
        font-size: 1rem;
    }
}