.container {
    max-width: 64ch;
    margin: var(--margin-3x) 0;
}

.post, .postTitle {
    line-height: 2.8rem;
}

.readMore {
    text-decoration: underline;
}

.pubDate {
    opacity: 0.75;
}

.categories {
    margin: 1rem 0;
    display: flex;
    gap: 2rem;
}

.postLi {
    margin: 80px 0;

}

.category {
    padding: 0rem 0.7rem;
    border: 1px solid var(--green);
    color: var(--green);
    border-radius: 4px;
}


@media (min-width: 768px) {
    .container {
        max-width: 64ch;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 350px;
    }
    .post-title {
        font-size: 1rem;
    }
}