.container {
  display: grid;
  grid-template-rows: var(--navbar-height) auto 1fr;
}

.nav {
  padding: 0 var(--padding-2x);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .menu {
  margin: var(--margin-nav);
  display: block;
}


.nav .burgerIcon {
  margin: 0;
}

.hidden {
  visibility: hidden;
}

.nav .burger {
  width: 30px;
  height: 4px;
  background-color: var(--main-text);
  margin: 6px 0;
  border-radius: 2px;
}

.menu ol {
  display: flex;
}

.main {
  background-color: var(--main-color);
  padding: 0 150px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
}

.main .introductionHeader {
  color: var(--main-color);
  margin: 0.5rem 0;
}

.main p {
  margin: 0;
  color: var(--subtitle);
  font-size: 1.2rem;
}

.introduction {
  max-width: var(--width-ch);
}

.footer {
  display: flex;
  flex: 1;
  padding: var(--padding-2x) 0;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: var(--transition);
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.sidebar {
  position: fixed; 
  width: 60vw; 
  height: 100vh; 
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-dark); 
  z-index: 2; 
  cursor: pointer; 
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  visibility: visible;
  transition: var(--transition);
}


.sidebar.sidebarHidden {
  visibility: hidden;
  /* Hide the bar in the side */
  transform: translateX(100vw);
  width: 0vw;
}

.sidebarMenu ol ul {
  margin: var(--margin-2x);
  transition: var(--transition);
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.7;
}

.close:hover {
  opacity: 1;
}

.close:before, .close:after {
  position: absolute;
  left: var(--margin);
  content: ' ';
  height: 2rem;
  width: 4px;
  background-color: var(--main-text)
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.socialMedia {
  display: flex;
}

.socialMedia.side {
  position: fixed;
  bottom: 48px;
  left: 24px;
  flex-direction: column;
}

.socialMedia svg {
  padding: var(--padding);
}

.socialMedia.footer {
  flex-direction: row;
}

@media (max-width: 768px) {
  .main {
    padding: 0 var(--padding-2x);
  }
  .main.blurry {
    filter: blur(4px);
  }
  .footer.blurry{
    filter:blur(4px);
  }
  .main .introductionHeader {
    font-size: 2rem;
  }
  .nav .menu {
    display: none;
  }
  .socialMedia.side {
    visibility: hidden;
  }
}

@media (min-width: 768px) {
  .sidebar {
    visibility: hidden;
    transform: translateX(100vw);
  }
  .nav .burger {
    display: none;
  }
  .socialMedia.footer {
    visibility: hidden;
  }
}