:root {
    --background: #23214e;
    --background-dark: #111027fa;
    --title: #2d9cca;
    --white: #fff;
    --main-text: #29658a;
    --secondary-text: #474866;
    --subtitle: #a9abb8;
    --margin: 1rem;
    --margin-2x: 2rem;
    --margin-3x: 3rem;
    --padding: 1rem;
    --padding-2x: 2rem;
    --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    --width-ch: 64ch;
    --navbar-height: 100px;
  }